
main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2px;
    flex-shrink: 1;
}

.left-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
}

#tipList {
    flex: 1;
}
